@font-face {
    font-family: 'SAUDI';
    src: url('../fonts/SaudiWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SAUDI';
    src: url('../fonts/SaudiWeb-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SAUDI";
}

body {
    background: linear-gradient(90deg, #574899 0%, #1D1833 100%);
}

.backgroundLogo {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    opacity: 0.2;
    z-index: -5;
}

.about {
    width: 100%;
    margin-bottom: 85px;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0;
}

.aboutUs h1 {
    text-align: center;
    color: white;
    font-size: 39px;
    font-weight: bold;
}

.aboutUs .cards {
    display: flex;
    max-width: 960px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 60px;
    margin: 58px auto 0;
}

.flip-card {
    height: clamp(190px, 24.5vw, 245px);
    width: clamp(200px, 26vw, 260px);
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 18px;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(9px, 2vw, 20px);
}

.flip-card-front {
    background: white;
    color: #4F3F95;
    font-size: clamp(24px, 3.2vw, 32px);
    font-weight: bold;
    border: 1px solid black;
    outline: 5px solid white;
}

.flip-card-back {
    background: white;
    color: #4F3F95;
    transform: rotateY(180deg);
    font-size: clamp(12px, 1.2vw, 16px);
    text-align: center;
    font-weight: bold;
    padding: clamp(7px, 1.5vw, 15px);
}

.achievements {
    max-width: 550px;
    margin-top: 50px;
    border-radius: 18px;
    background: #2D254E;
    position: relative;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 54px 40px;
    justify-content: center;
}

.achievements::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 18px;
    border: 3px solid #ddd;
    filter: blur(4px);
    pointer-events: none;
}

.field {
    display: flex;
    color: white;
    font-weight: bold;
}

.x {
    grid-column: span 2;
    margin: 0 auto;
}

.field p {
    font-size: 22px;
}

.field a {
    color: #fff;
    text-decoration: none;
    font-size: small;
    border-bottom: 1px solid white;
    font-weight: normal;
}

.field a:hover {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.field .image {
    width: 75px;
    margin-left: 4px;
}

.field img {
    width: 100%;
}

.achievements .logo {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 90px;
}

.structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 70px;

}

.structure .image {
    max-width: 800px;
    margin-top: 20px;
}

.structure img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 30px;
    flex-wrap: wrap;

    background: #4f3f95;
    border-top: 1px solid #ffffff;
    border-radius: 15px 15px 0px 0px;

    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    color: white;
    text-align: center;
}

footer a {display: block;}

footer img {width: 44px;}

footer a img {width: 20px;}

@media (max-width: 840px) {
    .aboutUs {
        padding: 50px;
        padding-bottom: 0;
    }
    .aboutUs .cards {
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center;

    }
    .aboutUs .card {
        width: 230px;
        position: relative;
    }
    .aboutUs .card::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        border-radius: 18px;
        border: 2px solid black;
    }
    .aboutUs h1 {font-size: 32px;}
    .backgroundLogo {top: 50%;}

    .achievements {gap: 20px 25px;}
    .achievements .logo {width: 50px;}
    .field .image {width: 30px;}
    .field .text {line-height: 10px;}
    .field p {font-size: 10px;}
    .field a {font-size: 6px;}

    footer {
        flex-direction: column;
        position: relative;
        gap: 10px;
        padding: 20px;
        margin: 0;
    }
    footer img {width: 40px;}
    footer a img {width: 24px;}
    footer p {
        font-size: 14px;
        line-height: 1.4;}
}  