* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SST";
}

@font-face {
    font-family: 'SST';
    src: url('../fonts/SST Arabic Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SST';
    src: url('../fonts/SST Arabic Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background: linear-gradient(135deg,  #4F3F95, #2D254E,#000000);
}
#nav{
    background: linear-gradient(135deg,  #4F3F95, #2D254E,#000000);

}
.hero-section {
    position: relative;
    text-align: center;
    color: white;
}
.foto {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    width: 100%;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    
}
.hero-caption {
    position: absolute;
    top: 86%;
    right: 76.6%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    /* width: 603px;
    height: 100px; */
}
.soml-img{
    width: 120px;
    height: 33px;
    margin: 2px;
}
.noth {
    text-align: center;
    color: white;
    background: none !important;
}